[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/lib/evmification"]
	path = foundry/lib/evmification
	url = https://github.com/eth-act/evmification
